body {
    padding: 0;
    margin: 0;
    font-family: 'ABeeZee';
    font-weight: 600;
    background-color: rgb(250, 245, 245);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #aaa;
    padding: 5px 80px;
    background-color: #fff;
    /* position: sticky; */
    /* width: 100%; */
    /* margin: 0; */
}

.left  a {
    text-decoration: none;
}

.left {
    display: flex;
}

.left > .zoom > a{
    font-size: 50px;
    color: #0E71EB;
    
}

.left > .links {
    display: flex;
    align-items: center;
}

.left > .links>.child {
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 13px;
}

.left > .links>.child > a{
    color: rgb(165, 160, 160);
}

.left > .links>.child:hover > .dropdown {
    display: block;
}

.dropdown {
    display: none;
    text-transform: capitalize; 
    font-weight: normal;
    position: absolute;
    border: 1px solid #aaa;
    padding: 0 10px;
    background-color: #fff;
}

.dropdown > .dd-elements {
    padding: 5px 0;

}

.dropdown > .dd-elements > a {
    color: black;
    

}

.dropdown > .dd-elements > a:hover {
    color: #0E71EB;

}

.left > .links>.child > a:hover {
    color: #0E71EB;
}

.right {
    display: flex;
}

.right a{
    text-decoration: none;
}

.right > .linkss {
    display: flex;
    color: #0E71EB;
}
.right > .linkss > .child > a {
    color: #0E71EB;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 13px;
}

.right > .linkss > .child:hover > .dropdown2{
    display: block;
}

.dropdown2 {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 5px 0px;
    position: absolute;
    border-radius: 10px;
    font-size: 15px;
    font-weight: normal;
    color: #000;
    display: none;
}

.dropdown2 > .dd-elements2 {
    padding: 10px 0;
}

.dropdown2 > .dd-elements2 > a{
    padding: 10px;
    color: #000;
}

.dropdown2 > .dd-elements2 > a:hover {
    background-color: #0E71EB;
    color: #fff;
}

.mini {
    display: none;
    color: #0E71EB;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 15px;
    /* padding: 0 20px; */
}

.mini > div {
    padding: 0 15px;
}

.dd {
    /* display: none; */
    position: absolute;
    width: 100%;
    top: -100%;
    /* top: auto; */
    background-color: #eee;
    transition: 1s ease-in-out;
    z-index: -1;
}

.dd > .childd {
    color: rgb(51, 50, 50);
    font-weight: 300;
    font-size: small;
    padding: 10px;
    border-bottom: 1px solid rgb(197, 193, 193);
}

.dd2 {
    display: none;
}

.dd2 > .child2 {
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid rgb(197, 193, 193);
}

.dd3 {
    display: none;
}

.dd3 > .child3 {
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid rgb(197, 193, 193);
}

.dd > .ss {
    display: flex;
    justify-content: space-between;
}

.btn > a{
    text-transform: uppercase;
    background-color: #f26d21;
    border-radius: 10px;
    padding: 8px 15px;
    margin-left: 30px;
    color: #fff;
}

.btn > a:hover {
    background-color: #db5304;
}

@media (max-width:1040px) {
    nav {
        padding: 5px 10px;
    }
    .left > .links>.child{
        padding-left: 15px;
    }
}

@media (max-width: 1020px) {   
    .left>.links>.child:nth-child(2){
        display: none;
    }
}

@media (max-width: 915px) {
    .left>.links>.child:nth-child(3){
        display: none;
    }    
}

@media (max-width: 800px) {
    .left>.links {
        display: none;
    }
    .right > .linkss {
        display: none;
    }
    .right > .btn {
        display: none;
    }
    .right > .mini {
        display: flex;
    }
    
}